body {
  background-color: #efefef;
}
nav {
  padding-left: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 0.75rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  footer {
    font-size: 1rem;
  }
}
